header {
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo img{
    width: 140px;
}

.menu{
    display: flex;
    gap: 40px;
    
}

.menu a{
    color: #000000;
    font-size: 16px;
}

@media (max-width: 480px){
    nav{
        padding: 10px 30px;
    }

    .logo img{
        width: 120px;
    }

    .menu{
        gap: 15px;
    }

    .menu a{
        font-size: 14px;
    }
}
