.hero{
    width: 90%;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.hero-content{
    max-width: 550px;
}

.hero-content h1{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
}

.hero-content h1 span{
    color: #89C5CC;
}

.hero-content P{
    color: #7D7987;
    font-size: 18px;
    margin-bottom: 35px;
}

.hero-content p b{
    font-weight: 700;
    color: #7D7987;
}

.hero-img{
    width: 100%;
    max-width: 500px;
}

.hero-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #69B99D;
    color: #FFFFFF;
    padding: 14px 25px;
    border-radius: 6px;
}

.hero-button img{
    width: 30px;
    width: 30px;
}

@media (max-widht: 480px){
    .hero{
        width: 90%;
        margin-top: 30px;
        gap: 35px;
    }

    .hero-content h1{
        font-size: 32px;
    }

    .hero-content p{
        font-size: 15px;
    }

    .hero-img{
        width: 100%;
        align-items: center;
    }
}
